@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$white: #fff;
$light-gray: #dcddde;
$red: #d24021;
$blue: #21b3d2;
$light-blue: #91ddee;

.select {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    input {
        flex: 1;
        text-transform: initial;
        padding: .25em;
        border-color: transparent;
        outline: none;
        font-size: 1em;
        width: 100%;
    }

    &__selected {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: solid 1px $light-gray;
        border-radius: 3px;

        &-tag {
            flex: 0 1 auto;
            display: inline-block;
            background-color: #fff;
            border: solid 1px $light-gray;
            margin: .25em;
            padding: .25em;
            border-radius: 3px;
            font-size: 1em;

            &__label {
                display: inline-block;
            }

            &__remove {
                display: inline-block;
                vertical-align: sub;
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: $light-gray;
                margin-left: 4px;
                transition: all .15s ease;
                cursor: pointer;

                &:hover {
                    background-color: $red;

                    &:before, &:after {
                        background-color: $white;
                    }
                }
    
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50%;
                    height: 1px;
                    background-color: black;
                    transform: translate(-50%, -50%) rotate(45deg);
                    transition: all .15s ease;
                }
    
                &:after {
                    transform: translate(-50%, -50%) rotate(135deg);
                }
            }
        }
    }

    &-search {

        &__results {
            margin: .25em 0;
            max-height: 200px;
            overflow-y: auto;
            border: solid 1px $light-gray;
            border-radius: 6px;
            padding: .5em;
            opacity: 0;
            display: none;
            transition: all .15s ease;

            &.visible {
                display: block;
                opacity: 1;
            }

            &-result {
                display: flex;
                align-items: center;
                margin: .25em 0;
                border-radius: 3px;

                &:hover {
                    background-color: $light-blue;
                }

                &.active {
                    background-color: $blue;
                }

                &__label {
                    display: inline-block;
                    padding: .25em;
                    transition: all .15s ease;
                    font-size: 1em;
                    cursor: pointer;
                }
            }
        }
    }
}